.whole-section {
    display: flex;
    justify-content: center;
    padding: 50px 150px;
}

.left-side-section img {
    height: 500px;
    width: 1000px;
}
.right-side-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.news-header-section p {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    color: #545658;
    list-style: none;
}
.reporter-text p {
    padding-top: 1rem;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
}
.publisher-text p {
    color: #545658;
    font-size: 13px;
    padding-top: 0;
    margin-bottom: 0px;
}
.news-header-section h1 {
    font-size: 35px;
}
.news-header-section i {
    font-size: 14px;
}

.newscontent img {
    height: 100px;
    width: 100px;
}

.paragraph {
    width: 1000px;
}
.paragraph p {
    text-align: justify;
}
.p1 {
    font-weight: 500;
    font-style: italic;
    padding-top: 1rem;
}
.p2 {
    padding-bottom: 1.5rem;
}
.p3 {
    padding-top: 1.5rem;
}
.divider {
    background-color: #8a8c8e;
    width: 2.5rem;
    height: 0.125rem;
    margin-top: 1rem;
}

.like-count-box {
    width: 25px;
    height: 18px;
    margin-bottom: 0px;
}

.count-buttons{
    background-color: white;
    border: none;
}

.small-details{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    margin: 2rem 0rem;
}

.time{
    margin-bottom: 0px;
}

.comments{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.comment-box{
    margin-left: 0px;
    width: 1000px;
}

.comment-show{
   display: flex;
    width: 1000px;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    flex-direction: column;
}

.comment-form{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.comment-form .comment-btn{
    width: 100px;
}

.comment-show p{
    margin-bottom: 0px;
}
