.profile-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-bottom: 8rem;
}

.profile-body h4 {
    text-align: center;
}

.first-column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.second-column {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    padding: 20px 0px;
    gap: 20px;
    overflow: hidden;
}

.col-md-6 {
    padding-bottom: 0.5rem;
}

.profile-form-div {
    width: 100%;
}

.checkbox-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.mb-4 {
    font-weight: 600;
}
.dp-change-button {
    padding-top: 1rem;
    padding-left: 0px;
    align-items: center;
}
.dp-label {
    padding-left: 12px;
    font-weight: 600;
}
.form-control {
    margin-left: 12px;
}
