body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-top: 3rem;
}

header {
    background-color: rgb(238, 238, 238);
    color: black;
    text-align: center;
    padding: 20px;
}

/* container */

.container {
    display: flex;
}
.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    padding-left: 0;
    padding-right: 0;
    /* width: 100%; */
}

/* BACKGROUND IMAGE PROPERTY */
.background-image1 {
    width: 100%;
    height: 550px;
    background-image: url("/img/drawingroom.jpg");
    background-position: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0px;
    background-size: cover;
    z-index: 1;
}

.background-image2 {
    width: 100%;
    height: 500px;
    background-image: url("/img/orangesofa.jpg");
    background-position: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0px;
    background-size: cover;
}
.background-image3 {
    width: 100%;
    height: 500px;
    background-image: url("/img/room.jpg");
    background-position: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0px;
    background-size: cover;
}

/* IMAGE TEXT */
.welcome-screen {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    align-items: center;

    gap: 2rem;
    z-index: 4;
}
.welcome-screen h1 {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-size: 30px;
    font-family: "Lexend Deca", sans-serif;
    color: #ffffff;
    text-shadow: 2px 3px 3px rgba(52, 61, 77, 0.6);
    text-decoration: none;
}
.welcome-screen p {
    font-weight: 700;
    font-size: 16px;
    font-family: "Lexend Deca", sans-serif;
    color: #ffffff;
    text-shadow: 2px 3px 3px rgba(52, 61, 77, 0.6);
    text-decoration: none;
    margin-bottom: 2rem;
}
.welcome-screen a {
    font-weight: 700;
    font-size: 12px;
    font-family: "Lexend Deca", sans-serif;
    color: #ffffff;
    text-shadow: 2px 3px 3px rgba(52, 61, 77, 0.6);
    text-decoration: none;
    margin-bottom: 2rem;
}

/* MAP AND IT'S SIDE TEXT CONTAINER PROPERTY */

.map-paragraph-container {
    margin: 0 2rem;
    padding: 2rem;
    display: flex;
    padding-left: 0;
    vertical-align: top;
    /* width: 100%; */
    justify-content: space-between;
}
.map-paragraph-container div {
    width: 45%;
}

.map-side-content {
    padding-left: 7rem;
}
.map-side-content h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 30px;
    font-weight: 500px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.map-side-content p {
    line-height: 1.9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 16px;
}
.map img {
    width: 550px;

    padding-left: 0px;
}
.title-like {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
/* ADDITIONAL PROPERTY FOR FIRST TEXT CONTAINER */

/* TEXT CONTAINER 1*/
.text-content-container1 {
    margin: 0 2rem;
    padding: 2rem;
    display: flex;
    padding-left: 0;
    vertical-align: top;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: #2c2c2c;
}
.text-content-container1 div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container1 h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 30px;
    font-weight: 500px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.text-container1 p {
    line-height: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 14px;
}

/* TEXT CONTAINER 2*/
.text-content-container2 {
    margin: 0 2rem;
    padding: 2rem;
    display: flex;
    padding-left: 0;
    vertical-align: top;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 1rem;
    border-top: #2c2c2c;
}
.text-content-container2 div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container2 h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 30px;
    font-weight: 500px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.text-container2 p {
    line-height: 1.9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 15px;
}

/* article content container */

.article-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.article-container p a {
    text-decoration: none;
    font-family: regfont;
    font-size: 16px;
    color: #000000;
}
.article-container a {
    font-size: 11px;
}
.article-container,
.article p a:hover {
    color: #808080;
}
.article {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    padding: 2rem;
    gap: 3rem;
    flex-wrap: wrap;
}
.article-item {
    width: 20%;
}

.article-title {
    height: 20px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.article img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-width: 2px;
}
.small-text {
    color: #808080;
    font-family: regfont;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.small-text2 {
    color: #808080;
    font-family: regfont;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 1rem;
}

.catagory {
    border-color: #000000;
    border: 2px;
}

.catagory h4 {
    font-size: 13px;
    font-style: bold;
    font-family: mediumfont;
    color: #ffffff;
}

.catagory p {
    font-size: 12px;
    font-style: none;
    font-family: regfont;
    color: #ffffff;
}

.footer-search-text {
    display: inline-block;
}
.footer-search-text h2 {
    font-size: 13px;
    font-family: mediumfont;
    font-weight: 500px;
    color: #ffffff;
}
.footer-search-text p {
    font-size: 11px;
    font-family: bodyfont;
    font-weight: 200px;
    color: #ffffff;
}

.search-box {
    width: 100%;
    height: 50px;
    border: 1px solid #000000;
    border-color: #2c2c2c;
    border-radius: 2px;
}

.catagory-container {
    display: flex;
    flex-direction: row;
    gap: 150px;
    /* margin-left: -150px; */
}
.footer-search-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}
